* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  color: white;
  font-family: "Gowun Dodum", sans-serif;
  background-image: url("./img/theater.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*****************************************************modal*/

.modal,
.modal-filter { 
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-body,
.modal-body-filter {
  color: black;

  position: absolute; 
  top: 50%; 
  left: 50%;
  width: 70%; 
  height: 60%; 
  /* padding: 20px; */

  background-color: white;
  border-radius: 10px; 

  transform: translateX(-50%) translateY(-50%);
  animation-name: move-box;
  animation-duration: 1000ms;

  display: flex;
}

.poster {
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.info {
  padding: 30px;
  width: 60%;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#close-btn,
#modal-filter-close-btn {
  border: none;
  background-color: transparent;
  
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#filter-search-btn {
  border: none;
  background-color: transparent;
  
  position: fixed;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
}

@keyframes move-box {
  from {
      transform: translateX(-50%) translateY(-40%);
  }

  to {
      transform: translateX(-50%) translateY(-50%);
  }
}

#close-btn {
  border: none;
  background-color: transparent;
  
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-img {
  display: block;
  width: 30px;
  height: 30px;
}

.loader {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.loader-body {
  position: absolute; 
  top: 50%; 
  left: 50%;
  /* transform: translateX(-50%) translateY(-50%); */

  background-color: transparent;

  border: 16px solid #f3f3f3;
  border-top: 16px solid orangered;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; /* name / duration / timing-function / itertaion-count  */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}







/*****************************************************filter-modal*/


.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter > .filter-title {
  /* box-sizing:border-box; */
  border-bottom: 2px solid orange;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    /* margin-top: 30px; */
}

.filter > .filter-title > h3 {
  /* position: absolute;  */
  /* top: 50%;  */
  width: 100%;
  height: 100%;
  /* padding-top: 50%; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.emphasis {
  background-color: orange;
  color: white;
  font-weight: 700;
}

.filter > .filter-title > h3:hover {
  cursor: pointer;
}

.filter > .filter-content {
  overflow-y: scroll;  
  width: 100%;
    height: 60%;
    border-bottom: 2px solid orange;
}  

.filter > .filter-selected-value {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
}

.filter > .filter-selected-value > div {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.genre-content,
.year-content {
  width: auto;
  height: 100%;
  display: flex !important;
  align-items: center;
}

.country-content {
  text-align: center;
  width: auto;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.genre-content > li,
.year-content > li {
  width: 100%;
  height: 100%;
}

.country-content > li {
  width: 100%;
  height: 100%;
  /* text-align: left; */
}

.country-content > .selected-value:hover {
  cursor: pointer;
  background-color: orange;
  color: white;
  font-weight: 700;
}

.country-content > li > ul > li > ul > li:hover {
  cursor: pointer;
  background-color: orange;
  color: white;
  font-weight: 700;
}

.genre-content > li > ul,
.year-content > li > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

.country-content > li > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-right: 10px; */
}

.genre-content > li > ul > li,
.year-content > li > ul > li {
  width: 100%;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.genre-content > li > ul > li:hover,
.year-content > li > ul > li:hover {
  cursor: pointer;
  background-color: orange;
  color: white;
  font-weight: 700;
}

.country-content > li > ul > li > ul > li{
  /* margin-right: 50px; */
  text-align: center;
  /* width: 250px; */
}

/*****************************************************filtermodal*/

/*****************************************************modal*/

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
text-decoration: none; 
}

/* screen reader를 사용하는 유저를 위한 목적 */
.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.visible {
  display: visible;
}

.show {
  display: block;
}

/* .flex {
  display: flex;
} */

.noshow {
  display: none !important;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px 20px 0 20px;
}

.main-header .logo a {
  display: block;
  width: 5rem;
  height: auto;
}

.main-header .logo a img {
  display: block;
  width: 5rem;
  height: 5rem;
}

.main-header nav ul {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.main-header nav ul li {
  display: block;
  margin-right: 20px;
  border: 2px solid white;
  border-radius: 16px;
}

.main-header nav ul li:last-child {
  margin-right: 0;
}

.main-header nav ul li a {
  display: block;
  width: 100%;
  height: auto;
  padding: 20px;
  color: white;
  cursor: pointer;
}


/* main-content */
.main-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80vh;
  padding: 20px 20px 0 20px;
}

/* profile */
.main-content .profile{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 35vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.main-content .profile header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.main-content .profile header h1{
  width: 80%;
  height: 10rem;
  /* border-radius: 16px; */
  background-image: url("./img/user.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-content .profile header h2 {
  text-align: center;
  color: black;
}

.main-content .profile ul  {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-content .profile ul .recommend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.main-content .profile ul .recommend span {
  color: red;
}

/* main */
.main-content main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 65vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  /* flex-grow: 50; */
}

.main-content main header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.main-content > main > header > ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-content main header ul .tooltip {
  position: relative; 
  padding: 5px;
  margin-top: 10px;
  margin-right: 20px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tooltiptext {
  width: 200px;
  padding: 10px;
  border-radius: 16px;

  position: absolute;
  top: -20px;
  z-index: 1;
  visibility: hidden;
  background-color: rgba(255, 204, 21, 0.6);
  
  color: white;
  font-weight: 700;
  font-family: "Gowun Dodum", sans-serif;
  text-align: center;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: transparent  rgba(255, 204, 21, 0.6) transparent transparent;
}

.tooltip .tooltip-left {
  top: -5px;
  right: 105%;
  margin-right: 10px;
}

.tooltip .tooltip-left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent rgba(255, 204, 21, 0.6);
}

.tooltip .tooltip-right {
  top: -5px;
  left: 105%;
  margin-left: 10px;
}

.tooltip .tooltip-right::after {
  top: 40%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent rgba(255, 204, 21, 0.6) transparent transparent;
}

.main-content main header ul button:hover .tooltiptext{
  visibility: visible;
}

.main-content main header ul button img{
  width: 3em;
  height: 3em;
}

.main-content main header .func-direct-search {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content main header .func-direct-search input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.main-content main header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  width: 2em;
  height: 2em;
}

.main-content main header .func-filter-search {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  height: auto;
  font-size: 14px;
}

.func-filter-search > button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.func-filter-search > .filter {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.func-filter-search > .filter > li {
  display: flex;
}

.func-filter-search > .filter > li > h3 {
  height: 20%;
  cursor: pointer;
}

/* .genre-select {
  height: 30%;
  overflow-y: scroll;
} */

/* #genre-selected-value {
  width: 100%;
}

div[id*="selected-value"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid orange;
  padding: 2px;
  cursor: pointer;
}

ul[class*="-select"] {
  height: 20%;
  overflow-y: auto;
} */

/* ul[class*="-select"] li {
  padding: 5px;
} */

/* ul[class*="-select"]>li:hover {
  cursor: pointer;
  background-color: orange;
} */

/****************************************************/

/* main-screen */
.main-content main .movies {
  padding: 5%;
  width: 100%;
  height: 80%;
  /* background-color: orange; */
  /* overflow-y: scroll; */
  overflow: auto;

  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;
}

.main-content main .movies article {
  position: relative;
  cursor: pointer;
}

.main-content main .movies article:hover {
  transform: scale(0.8);
  opacity: 0.4;
  transition: transform 1s ease-out;
}

.main-content main .movies article > h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: black;
}

.main-content main .movies article > button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.main-content main .movies .movie {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 40%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.noimg {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 40%;
  height: 100%;
  background-image: url("./img/noimg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*******************************/
footer {
  position: relative;
  bottom: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main-content .profile {
      width: 15vw;
  }
}

@media screen and (max-width: 768px) {
  .main-content .profile {
      width: 30%;
      border: 2px solid rgba(255, 0, 0, 0.6);
  }

  .main-content main {
      width: 60%;
      border: 2px solid rgba(255, 0, 0, 0.6);
  }
}