:root {
  /* color */
  --color-logo: #e91e63;
  --color-bg: #12005e;
  --color-font: #f0f4f5;

  /* size */
  --size-logo: 5em;
  --size-font: 1em;
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: url("img/theater.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  color: var(--color-font);
  font-family: "Gowun Dodum", sans-serif;
}

.mainPage {
  margin: 0 auto;
  width: 96vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex-basis: 0%;
  flex-grow: 1;
}

main {
  flex-basis: 0%;
  flex-grow: 4;
}

/* Header */
header {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.biglogo {
  width: var(--size-logo);
  height: var(--size-logo);
}

header .btns button {
  margin-right: 1em;
  transition: transform 300ms ease;
}

#mypage,
#logout {
  background-color: transparent;
  padding: 1em;
  font-size: var(--size-font);
  border: 2px solid red;
  border-radius: 10%;
  color: var(--color-font);
}

#mypage:hover,
#logout:hover {
  cursor: pointer;
  background-color: red;
  transform: scale(1.1);
}

/* main */
main {
  width: 100%;
  height: 74%;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
}

.left {
  flex-basis: 0%;
  flex-grow: 1;
}

.right {
  padding-left: 1em;
  flex-basis: 0%;
  flex-grow: 2;
}

/* main - left - profile */
.container {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image {
  flex-grow: 1;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.biglogo2 {
  object-fit: fill;
  width: 200px;
  height: 200px;
  /* flex-grow: 1; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#name {
  width: 100%;
  border: 1px solid white;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main - left - recommend */

.recommend {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* main - right */
.right {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.screen {
  position: sticky;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imgs {
  width: 10em;
  height: 15em;
}

.imgs:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
}

.movie1 {
  margin-bottom: 3em;
}

#filter,
#direct,
#click1,
#click2 {
  background-color: white;
  padding: 0.5em;
  font-size: calc(var(--size-font) * 1);
  color: black;
  border-radius: 10%;
  border: 2px solid grey;
}

#filter,
#direct {
  margin-right: 1em;
}

#filter:hover,
#direct:hover,
#click1:hover,
#click2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.search {
  width: 100%;
  height: 20%;
  text-align: center;
}

.filters {
  padding-bottom: 0.5em;
}

.change1,
.change2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

/* footer */
footer {
  text-align: center;
}

.show {
  display: visible;
}

.noshow {
  display: none;
}

#searchText {
  width: 80%;
  height: 50%;
}

#click1,
#click2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60%; */
}

@media screen and (min-width: 52em) {
  /* .container {
    width: 0%;
    flex-grow: 1;
  } */

  .left {
    flex-basis: 0%;
    flex-grow: 1;
  }

  .right {
    flex-basis: 0%;
    flex-grow: 4;
  }
}
